html{
  position: relative;
}

.container{
  max-width: 880px;
  margin: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;

}
